<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpeechRecognition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DA12D8D1D623E1F000EA838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DA12D9E1D623E1F000EA838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DA12DA91D623E1F000EA838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
